.root {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25rem;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

