.root {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
  padding-bottom: 1.75rem;
  position: relative;
}

.root:after {
  background-color: var(--black-color-4);
  border-radius: 0.0625rem;
  bottom: 1.75rem;
  content: '';
  height: 0.0625rem;
  left: 0;
  position: absolute;
  transition: background-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  width: 100%;
}

.root > input {
  background: none;
  border: none;
  color: var(--black-color-1);
  font-size: 1rem;
  line-height: 1.1875rem;
  padding: 0.375rem 0.5rem 0.5rem;
  width: 100%;
}

.root > input::placeholder {
  color: var(--black-color-5);
}

.root > input:disabled,
.root > input:disabled::placeholder {
  color: var(--black-color-3);
}

.root > input:read-only {
  cursor: default;
}

.root > button {
  margin-right: 0.375rem;
}

.root > label {
  color: var(--black-color-3);
  display: block;
  grid-column: 1 /span 2;
  padding: 0.5rem 0.5rem 0;
  width: fit-content;
  white-space: nowrap;
  font-weight: bold;
  line-height: 1rem;
  font-size: 0.875rem;
}

.root > small {
  color: var(--red-color);
  left: 0.5rem;
  position: absolute;
  top: 3.75rem;
  text-align: left;
}

.root.focus::after {
  background-color: var(--primary-color);
}

.root.error::after {
  background-color: var(--red-color);
}

.root.required > label > span {
  color: var(--red-color);
}
