.root > div {
  margin-bottom: 0.5rem;
}

.root > div:nth-child(3),
.root > div:nth-child(4),
.root > div:nth-child(5) {
  background-color: var(--black-color-6);
}

.root > footer {
  display: flex;
  gap: 2.5rem;
  padding-top: 2rem;
}
