.root > section {
  border-bottom: 0.125rem solid var(--grey-color-3);
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.root > section > h4 {
  margin-bottom: 1.0625rem;
}

.root > section > section {
  flex-direction: column;
  height: 3.5rem;
}

.root > section > section > div {
  margin-bottom: .25rem;
}

.root > section > section > small {
  font-size: 0.7rem;
  margin-left: .8rem;
  color: red;
}

.root > section > section > button:first-child {
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
}

.root > section > section > button:last-child {
    background-color: var(--grey-color-3);
    padding: 0.5rem 1rem;
    color: var(--text-color);
    font-weight: bold;
}

.root > h5 {
  border-bottom: 1px solid var(--black-2);
  padding-bottom: 0.5rem;
}

.active {
    color: var(--green-color);
    font-size: 0.875rem;
}

.inactive {
    color: var(--error-color);
    font-size: 0.875rem;
}

.detail {
    width: 1.5rem;
}

.section {
    margin-top: 10rem;
}

.boxAction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
}

.boxAction>img{
    cursor: pointer;
}

.messageBody>b{
    font-size: 0.92rem;
    font-weight: 900;
}
