.root {
  border-radius: 0.25rem;
  background-color: var(--secondary-color-light);
  display: flex;
  font-size: 0.625rem;
  font-weight: 500;
  gap: 0.5rem;
  padding: 0.375rem 0.5rem;
  width: 100%;
}

.root > img {
  height: 0.75rem;
  width: 0.75rem;
}

.root.hidden {
  display: none;
}

.root.error {
  color: var(--white-color);
  background-color: var(--red-color);
}

.root.success {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.root.error *,
.root.success * {
  color: var(--white-color);
}

.root.error > img:first-child,
.root.success > img:first-child {
  filter: brightness(5);
}
