.root > header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 2.5rem;
}

.root > article {
  background-color: var(--white-color);
  border-radius: 0.3125rem;
  padding: 1rem;
  box-shadow: var(--box-shadow-m);
}

.root > article > form {
  display: grid;
  grid-template-columns: 34% 65%;
  gap: 1%;
}

.root > article > form > figure {
  height: 21rem;
  width: 21rem;
}

.root > article > form > figure > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: .5rem;
  background-color: var(--black-color-6);
  border: .0625rem solid var(--black-color-6);
  margin-bottom: 1rem;
  display: block;
}

.root > article > form > footer {
  grid-column: 1 / span 2;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: .75rem .875rem;
  margin: 0 -1rem -1rem -1rem;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-m);
}

.detail {
  line-height: 1.75rem;
  margin: 0 0 2.875rem 1rem;
}

.detail > label {
  color: var(--black-color-3);
}

.document > p {
  font-weight: 500;
  margin-bottom: 1rem;
}

.document > section {
  display: grid;
  gap: 0.8125rem;
  grid-template-columns: 1fr 1fr;
}

.docs {
  text-align: center;
}

.docs > a {
  align-items: center;
  border: 0.0625rem solid var(--black-color-3);
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.625rem;
  padding: 0.375rem 0.25rem;
}

.docs > a:hover {
  background-color: var(--black-color-5);
}

.docs > a > img {
  height: 0.75rem;
  margin-right: 0.1875rem;
}

.docs > label {
  display: block;
  margin: 1rem 0;
}

.docs > p {
  font-weight: 500;
  margin-top: 2rem;
}


.true {
  color: var(--primary-color);
}

.false {
  color: var(--red-color);
}