.root > div {
  padding: 1.3rem;
  width: 45rem;
}

.root > div >img {
  display: block;
  margin: auto auto 2.5rem;
  width: 14.375rem;
}

.root > div > p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.44rem;
  margin-bottom: 2rem;
}

.root > div > p:nth-of-type(2) {
  color: rgba(0, 0, 0, 0.541327);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin-bottom: 0;
}


.root > footer {
  display: flex;
  justify-content: flex-end;
  background-color: #F1F1F1;
  margin-top: 1.5rem;
  height: 4rem;
  padding: 0.5rem 1rem 0.5rem 0;
}

.root > footer > button {
  width: fit-content;
  font-size: 0.875rem;
  font-weight: bold;
}

.root > footer > button:first-child {
  margin-right: 1.5rem;
  background: #E8E8E8;
  color: var(--text-color);
}

