.root {
  background-color: var(--white-color);
  border-radius: 0.25rem;
  margin: auto;
  max-height: 90%;
  max-width: 90%;
  overflow-y: auto;
  padding: 3.125rem 2rem 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  pointer-events: auto;
}

.root > img:first-child {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.5rem;
}

.root::after {
  content: "";
  display: block;
  padding-bottom: 2rem;
}
