.root > header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 2.5rem;
}

.root > article {
  background-color: var(--white-color);
  border-radius: 0.3125rem;
  padding: 1rem;
  box-shadow: var(--box-shadow-m);
}

.root > article > form {
  display: grid;
  grid-template-columns: 34% 65%;
  gap: 1%;
}

.root > article > form > figure {
  height: 21rem;
  width: 21rem;
}

.root > article > form > figure > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: .5rem;
  background-color: var(--black-color-6);
  border: .0625rem solid var(--black-color-6);
  margin-bottom: 1rem;
  display: block;
}

.root > article > form > footer {
  grid-column: 1 / span 2;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: .75rem .875rem;
  margin: 0 -1rem -1rem -1rem;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-m);
}

