.root {
  display: grid;
  grid-template-columns: 34% 65%;
  gap: 1%;
}

.root > figure {
  height: 21rem;
  width: 21rem;
}

.root > figure > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: .5rem;
  background-color: var(--black-color-6);
  border: .0625rem solid var(--black-color-6);
  margin-bottom: 1rem;
  display: block;
}

.root > figure > label > figure {
  flex: 1.5;
}

.root > figure > label > figure > figcaption {
  font-size: .625rem;
  line-height: .75rem;
  text-align: right;
}

.root > figure > label > p > span {
  font-size: .5rem;
  line-height: .875rem;
}

.root > section {
  padding-left: 1rem;
}

.root > section > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.root > section > section:nth-of-type(2) {
  grid-template-columns: 1fr 2fr;
}

.root > section > div {
  margin-bottom: .5rem;
}

.root > section > div:first-child {
  background-color: var(--black-color-6);
}

.root > section > div:first-child > input {
  color: var(--black-color-1);
}

.root > section > p,
.address > p {
  color: var(--black-color-3);
  display: block;
  padding: 0.5rem 0.5rem 0.3125rem;
  width: fit-content;
  white-space: nowrap;
  font-size: .875rem;
  line-height: 1.0625rem;
}

.root > section > p > span,
.address > p > span {
  color: var(--red-color);
}

.address {
  position: relative;
}

.address > button {
  margin-bottom: 2rem;
}

.address > button.edit {
  position: absolute;
  margin: 0;
  right: .5rem;
  top: 1rem
}

.address > div > input {
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.root > section > label {
  margin-bottom: 2rem;
}

.root > footer {
  grid-column: 1 / span 2;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: .75rem .875rem;
  margin: 0 -1rem -1rem -1rem;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-m);
}

.modal {
  width: 43.5rem;
}

.modal > h4 {
  padding-bottom: 1rem;
  text-align: center;
}
