.root {
  margin: auto;
  width: fit-content;
}

.root > div {
  height: 2rem;
  position: relative;
  text-align: center;
  width: 2rem;
}

.spinner {
  animation: spin 1s ease-in-out infinite;
  border: 0.1rem solid var(--primary-color);
  border-radius: 50%;
  border-top-color: transparent;
  display: inline-block;
  height: 120%;
  left: -10%;
  position: absolute;
  top: -10%;
  width: 120%;
}

.spinner + svg {
  height: 100%;
  width: 100%;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
