.aside {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-m);
  grid-area: aside;
  padding: 1rem 0.5rem 1rem 0;
  z-index: 1;
}

.aside > nav > a {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 0.25rem 1rem;
  position: relative;
}

.aside > figure {
  padding: 0.25rem 1rem;
  align-items: center;
  display: flex;
}

.aside > figure > img {
  margin-right: 0.5rem;
  width: 2.5rem;
  height: 7.5rem;
}

.aside > figure > figcaption > small {
  color: var(--grey-color-2);
  font-size: 0.75rem;
  line-height: 0.875rem;
}


.header {
  align-items: center;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow-s);
  display: flex;
  grid-area: header;
  padding: 0 6.5625rem;
  z-index: 2;
}

.header > img {
  height: 2.5rem;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
}

.header > figure {
  height: 2rem;
  margin-left: auto;
  position: relative;
}

.header > figure > span {
  background-color: var(--red-color);
  border-radius: 50%;
  color: var(--white-color);
  font-size: 0.75rem;
  font-weight: 600;
  height: 1.25rem;
  line-height: 1.25rem;
  position: absolute;
  right: -0.625rem;
  text-align: center;
  top: -0.25rem;
  width: 1.25rem;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  grid-area: main;
  overflow-y: auto;
  padding-top: 2rem;
  position: relative;
}

.main > *:first-child {
  padding: 0rem 6.5625rem 0rem 2rem;
  flex: 1;
}

.main > footer {
  padding: 2rem 3vw 0rem 3vw;
  height: 14.3rem;
}

.nav-item {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.nav-item > section {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  position: relative;
}

.nav-item > section > *:last-child {
  margin-left: auto;
}

.nav-item > ul {
  margin-top: 0.5rem;
  overflow-y: hidden;
  position: relative;
  transition: max-height 0.25s;
}

.nav-item > ul > li > a {
  display: block;
  font-weight: normal;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 3.5rem;
}

.aside > nav > a:hover, 
.nav-item > ul > li > a:hover,
.nav-item > section:hover,
.aside > footer > div:hover {
  background-color: rgba(158, 158, 158, 0.1);
}

.aside > nav > a.active,
.nav-item > section.active,
.nav-item > ul > li > a.active {
  color: var(--primary-color);
}

.aside > nav > a.active::before,
.nav-item > section.active::before {
  background-color: var(--primary-color);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 0.25rem;
}

.btn-profile {
  all: unset;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  margin-left: 1.5rem;
  white-space: nowrap;
}

.btn-profile > span {
  padding: 0.75rem 1rem;
  background-color: var(--black-color-6);
  color: var(--black-color-1);
  border-radius: 0.25rem 0 0 0.25rem;
  cursor: pointer;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  width: 10rem;
}

.btn-profile > label {
  padding: 0.75rem 0.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 0 0.25rem 0.25rem 0;
  cursor: pointer;
  font-weight: 600;
  width: 2.5rem;
  text-align: center;
}

.btn-profile > *:last-child {
  margin-left: 0.5rem;
  cursor: pointer;
}

.popper-profile {
  left: 0;
  margin-top: 1.25rem;
  padding: 0;
  top: 0;
}

.profile-dropdown > section:first-child {
  padding: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.profile-dropdown > section:first-child::after {
  content: ' ';
  position: absolute;
  width: calc(100% - 2rem);
  height: .125rem;
  background-color: var(--black-color-5);
  bottom: 0;
}

.profile-dropdown > section:first-child small{
  margin-left: 1rem;
  font-size: .75rem;
  line-height: 1rem;
}

.profile-dropdown > section:first-child h5 {
  display: flex;
  width: 3.625rem;
  height: 3.625rem;
  justify-content: center;
  align-items: center;
  background-color: var(--black-color-6);
  color: var(--primary-color);
  border-radius: 50%;
}

.profile-dropdown > section:last-child {
  padding: .375rem 0;
}

.profile-dropdown section .profile-item {
  padding: .875rem 1rem;
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.profile-item, .profile-item > * {
  cursor: pointer;
}

.profile-item label {
  font-size: .875rem;
  line-height: 1.0625rem;
  font-weight: 400;
  text-transform: capitalize;
}

.profile-item svg {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.profile-item:hover {
  background-color: var(--primary-color);
}

.profile-item:hover label {
  color: var(--white-color);
}

.profile-item:hover svg {
  fill: var(--white-color);
}

.error {
  background: var(--secondary-color-light);
  border-radius: 4px;
  height: auto;
  padding: 0.375rem 0.5rem 0.375rem 1.75rem;
  position: relative;
  width: 32rem;
}
.error > p {
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.02em;
}
.error > p > a {
  font-weight: 600;
  text-decoration: underline;
  color: var(--red-color);
}

.error > img {
  position: absolute;
  top: 0.375rem;
  left: 0.625rem;
  width: 0.75rem;
}
