.root {
  margin-bottom: 1rem;
}

.root > h4 {
  margin-bottom: 2.5rem;
}

.root > hr {
  border: 0.0625rem dashed var(--primary-color);
  margin-bottom: 1rem;
}

.root > button:last-of-type {
  margin-top: 2rem;
  width: -webkit-fill-available;
}

.document > label {
  margin-bottom: 1rem;
}

.document > small {
  color: var(--black-color-3);
  font-weight: 500;
  line-height: 1.125rem;
}

.document > label:first-child {
  color: var(--black-color-3);
  display: block;
  margin: .5rem;
}

.document > label > span {
  color: var(--red-color);
}

