.root {
  border-spacing: 0;
  text-align: left;
  width: 100%;
}

.root > thead > tr {
  background-color: var(--primary-color);
  text-align: left;
  border-radius: 0.1875rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.root th {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
  text-align: left;
  color: var(--white-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.root th:first-child {
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  color: var(--white-color);
}

.root th:last-child {
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
}

.root > tbody > tr {
  background-color: #ffffff;
}

.root td {
  color: var(--text-color);
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding: 0.75rem 0.5rem;
  max-width: 10rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
}

.root > tbody > tr:nth-child(even) > td {
  background-color: rgba(232, 232, 232, 0.25);
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.notFound{
  margin-bottom: 10rem;
}

.notFound > img {
  margin-left: 25rem;
  margin-top: 7rem;
  width: 14rem;
  height: 13rem;
}